
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewEmployees</title>
</head>
<body>
    <div> 
        <form method="post">
            <input type="hidden" value="@ViewBag.ID" name="ID" />
        </form>

    </div>
</body>
</html>
